@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------- Fonts ----------*/

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font-thin {
  font-weight: 100;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

/* ------- Color -----------*/

.text-violet {
  color: rgb(184, 172, 235);
}

/*------- Background -------*/

.bg-black-500 {
  background-color: #262626;
}
.bg-beige {
  background: beige;
}
.bg-black {
  background-color: #333;
}
.bg-white {
  background: #f1f1f1;
}
.bg-green-300 {
  background: #0fffb7;
}
.bg-violet {
  background: rgb(16, 7, 141);
}
.bg-gradient-to-b {
  background: linear-gradient(
    to bottom right,
    rgb(184, 172, 235),
    rgb(192, 217, 238)
  );
}
.bg-gradient-to-r {
  background: linear-gradient(
    to bottom right,
    rgb(184, 172, 235),
    rgb(192, 217, 238)
  );
}

/* ------- Height ad Width ------*/

.h-0-5 {
  height: 0.125rem; /* 2px */
}
.h-2-5 {
  height: 0.625rem; /* 10px */
}
.h-20 {
  height: 5rem;
}
.h-40 {
  height: 10rem;
}
.h-2-4 {
  height: 50%;
}
.h-full {
  height: 100%;
}
.w-40 {
  width: 10rem;
}
.w-96 {
  width: 24rem;
}
.w-1-4 {
  width: 25%;
}
.w-2-4 {
  width: 50%;
}
.w-3-4 {
  width: 75%;
}
.w-4-5 {
  width: 80%;
}
.w-full {
  width: 100%;
}

/*------- Text ------------*/

.decoration-none {
  text-decoration: none;
}
.text-white {
  color: #f1f1f1;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}
.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.text-xl {
  font-size: 2rem; /* 20px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.text-xl-t {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
/* -------Grid --------- */

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-8 {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-rows-6 {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 2 / span / 4;
}
.col-span-8 {
  grid-column: span 8 / span 8;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-start-1 {
  grid-column-start: 1;
}
.col-start-2 {
  grid-column-start: 2;
}
.col-start-3 {
  grid-column-start: 3;
}
.col-start-4 {
  grid-column-start: 4;
}
.col-start-5 {
  grid-column-start: 5;
}
.col-end-12 {
  grid-column-end: 12;
}
.col-end-4 {
  grid-column-end: 5;
}
.col-end-3 {
  grid-column-end: 3;
}
.col-end-4 {
  grid-column-end: 4;
}
.col-end-5 {
  grid-column-end: 5;
}
.col-end-8 {
  grid-column-end: 8;
}
.col-end-9 {
  grid-column-end: 9;
}
.grid-cols-2-infos {
  display: grid;
  grid-template-columns: 30px 1fr;
}

/* ----------- Flex ------------ */

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.place-content-center {
  place-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* --------padding----- */

.pl-2 {
  padding-left: 0.5rem;
}
.pl-4 {
  padding-left: 1rem;
}
.p-4 {
  padding: 1rem;
}
.p-1 {
  padding: 0.25rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt-0-5 {
  padding-top: 1rem; /* 2px */
}
.pt-4 {
  padding-top: 1rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-0-5 {
  padding-bottom: 0.125rem; /* 2px */
}

/* -------- Margin --------*/

.m-0 {
  margin: 0;
}

/* -------Box ---------*/

.box-border {
  box-sizing: border-box;
}

/*------- Border ---------*/

.border-skill {
  border: 1px solid #b6b2c0;
}
.border-bottom {
  border: 1px solid rgb(169, 169, 204);
}
.rounded-sm {
  border-radius: 0.125rem; /* 2px */
}

.display-block {
  display: block;
}
.tracking-wide {
  letter-spacing: 0.025em;
}

@media screen and (min-width: 768px) {
  .lg-text-xl {
    font-size: 2rem; /* 20px */
  }
  .lg-grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg-grid-rows-6 {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
  .md-col-start-1 {
    grid-column-start: 1;
  }
  .md-col-start-2 {
    grid-column-start: 2;
  }
  .md-col-start-3 {
    grid-column-start: 3;
  }
  .md-col-end-3 {
    grid-column-end: 3;
  }
  .md-col-end-5 {
    grid-column-end: 5;
  }

  .md-col-end-6 {
    grid-column-end: 6;
  }
  .md-col-end-7 {
    grid-column-end: 7;
  }
  .md-col-end-9 {
    grid-column-end: 9;
  }
  .md-grid-cols-8 {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .md-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md-grid-cols-6 {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .md-text-center {
    text-align: center;
  }
  .md-font-medium {
    font-size: small;
  }
  .md-tracking-wide {
    letter-spacing: 0.025em;
  }


}

@media screen and (max-width: 430px) {
  .hidden {
    display: none;
  }
  .-ml-4 {
    margin-left: -1.6rem;
  }
  .sm-text-sm {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
  .sm-p-0 {
    padding: 0;
  }

  /* ---------GRID------------ */

  .sm-place-items-end	{
    place-items: end;
  }
  .sm-place-self-end	{
    place-self: end;
  }
 
}
